
font-family: "Garamond", serif;

body {
    font-family: 'Garamond', serif;
}  

/* Header Navigation Styles */
#navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px; /* Adjust padding as needed */
}

#navbar-container div a {
    text-decoration: none;
    color: inherit;
}

/* Main Navigation Styles */
nav ul {
    list-style-type: none; /* Remove bullet points */
    display: flex;
    justify-content: flex-end; /* Align to the right */
    padding: 0;
}

nav ul li {
    margin-left: 20px; /* Add space between buttons */
}

nav ul li a {
    text-decoration: none; /* Remove underlines */
    background-color: #f2f2f2; /* Background color */
    padding: 10px 15px; /* Padding around text */
    border-radius: 5px; /* Rounded corners */
    color: #333; /* Text color */
}

nav ul li a:hover {
    background-color: #ddd; /* Change background on hover */
}
